@charset "UTF-8";
/* CSS Document */

.margin-killer{margin-left:0; margin-right:0;}
.padding-killer{padding-left:0; padding-right:0;}

.dashboard-items{ padding-bottom:50px;}
.dashboard-items span{width:100%; float:left; text-align:center; font-size:20px; transition:.4s;}
.dashboard-items span:first-child{height:128px;}
.dashboard-items span img{max-width:100px; height:auto; opacity:.5; transition:.4s;}
.dashboard-items:hover span{font-size:25px; margin-top:-5px;}
.dashboard-items:hover span img{max-width:128px; opacity:1;}

.divider{margin:15px 0; height:2px; background:#CCC;}

.login-page-header{min-height:110px;}
/*.logo-title{color:#fff; font-size:20px; line-height:70px; margin-left:15px; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);}*/
.logo-img {margin:10px;}

.project-logo-area img {
	width: 35%;
	margin: 0 auto;
}
.project-logo-area .jihs_logo {background-color: #ecebe7;}
.project-logo-area h2 {color: #878988;}
.project-logo-area h2 span {color: #237b9f;}
.project-logo-area h3 {color: #969694;}
.project-logo-area .svu_logo img {margin: 25px 0 0 0;}

.line-height-setting{line-height:34px; }
.select-rows-margin{margin:0 15px;}
.control-label{white-space:nowrap;}

.footer-style{margin-bottom:20px;}
.footer-style hr{border-color:#c6c6c6;}


.icon-trash{display:inline-block; height:26px; width:26px; background:url('../images/icons-delete.png') no-repeat -26px 0px; transition:ease-in-out .2s; -moz-transition:ease-in-out .2s; -o-transition:ease-in-out .2s; }
.icon-trash:hover{background:url('../images/icons-delete.png') no-repeat 0px 0px;}

.add_button {margin:0 0 15px 0;}

label.error { color: #b94a48;}
.multi-lang-align{margin-top: 80px; margin-right: 15px;}

.dataTables_filter label input, .dataTables_length label select{width: 240px !important; height: 34px; padding: 6px 12px; background-color: #FFFFFF; border: 1px solid #E5E5E5; color: #333333;}
.dataTables_length label select {width: 75px !important; height: 34px; padding: 6px 12px; background-color: #FFFFFF; border: 1px solid #E5E5E5; color: #333333;}

.custom-filter-select {width: 240px !important; height: 34px; padding: 6px 12px; background-color: #FFFFFF; border: 1px solid #E5E5E5; color: #333333;}

.custom-filter-label{ margin-left: 5px;}

.DataTables_sort_wrapper .ui-icon {
    display: inline !important;
    float: right;
    color: #ffffff;
}

#ui-datepicker-div .ui-datepicker-current{
    display: none !important;
}

.customs_menu .navbar-toggle {
    border-color: #359EDD;
}

.customs_menu .navbar-toggle .icon-bar {
    background-color: #359EDD;
}

.navbar .navbar-collapse {
    text-align: left;
}

.customs_menu .navbar-collapse {
    text-align: center;
}

#bottom_menu .navbar-nav {
    float: none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
}

#left_menu ul li {
    background-color: #359EDD;
    border-radius: 4px;
    margin: 5px 0;
}

#left_menu ul li a {
    color: #FFFFFF;
}

#left_menu ul li a:focus,
#left_menu ul li a:hover {
    border: #359EDD 1px solid;
    background-color: #FFFFFF !important;
    color: #359EDD !important;
    border-radius: 4px;
    margin: 5px 0;
}


#right_menu ul li {
    background-color: #359EDD;
}

#right_menu ul li a {
    color: #FFFFFF;
}

.visitor-counter{
    padding: 0  0 10px 0;
    color: #428bca;
}

.clear{
    clear: both;
}